---
import GridItem from '../../components/GridItem.astro';
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllBestPractices } from '../../lib/best-pratice';

const bestPractices = await getAllBestPractices();
---

<BaseLayout
  title='Best Practices'
  description={'Best practices on different topics with detailed implementation guidelines'}
  permalink={'/best-practices'}
>
  <SimplePageHeader
    title='Best Practices'
    description='Best practices on different topics with detailed implementation guidelines'
  />

  <div
    class='bg-gradient-to-b from-bg to-surface/30 pb-20 pt-8 sm:pb-28 sm:pt-12'
  >
    <div class='container'>
      <div class='grid grid-cols-1 gap-4 sm:grid-cols-2 lg:gap-5'>
        {
          bestPractices.map((bestPractice) => (
            <GridItem
              url={`/best-practices/${bestPractice.id}`}
              isNew={bestPractice.frontmatter.isNew}
              title={bestPractice.frontmatter.briefTitle}
              description={bestPractice.frontmatter.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
