---
import Icon from './AstroIcon.astro';

export interface Props {
  roadmapId: string;
}

const { roadmapId } = Astro.props;
---

<div class='mt-4 sm:mt-7 border-0 sm:border rounded-md mb-0 sm:-mb-[65px]'>
  <!-- Desktop: Roadmap Resources - Alert -->
  <div class='hidden sm:flex justify-between px-2 bg-surface/50 items-center rounded-md'>
    <p class='text-sm text-muted'>
      <span
        class='mr-0.5 rounded-sm bg-warning/20 px-1 py-0.5 text-xs font-medium uppercase text-warning'
        >New</span
      >
      Resources are here, try clicking nodes
    </p>

    <a
      href={`/${roadmapId}/topics`}
      class='inline-flex items-center justify-center rounded-md px-1 py-1.5 text-sm font-medium text-muted hover:text-white'
    >
      <Icon icon='search' />
      <span class='ml-2'>Search Topics</span>
    </a>
  </div>

  <!-- Mobile - Roadmap resources alert -->
  <p
    class='relative block rounded-md border border-warning/50 bg-surface/50 px-2 py-1.5 text-sm text-warning sm:hidden'
  >
    Click roadmap items for resources or visit{' '}
    <a
      href={`/${roadmapId}/topics`}
      class='text-accent underline hover:text-accent-light'
    >
      resources list</a
    >.
  </p>
</div>
