<div
  class='text-md rounded-bl-md rounded-br-md border-t border-white/10 bg-surface/50 p-2 text-left text-sm leading-relaxed text-muted sm:p-4 sm:text-base [&>p:not(:last-child)]:mb-3 [&>p>a]:text-accent [&>p>a]:underline [&>p>a]:hover:text-accent-light'
>
  <slot />
</div>
